on:
  # The issues event below is only needed for the default (auto) mode,
  # you can remove it otherwise
  issues:
    types: [ opened, assigned ]
  # The issue_comment event below is only needed for the ChatOps mode,
  # you can remove it otherwise
  issue_comment:
    types: [ created ]
  # pull_request:
  #   types: [ closed ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.issue.labels.*.name, 'docs') &&
      !contains(github.event.issue.labels.*.name, 'release') &&
      !contains(github.event.issue.labels.*.name, 'duplicate') &&
      !contains(github.event.issue.labels.*.name, 'invalid') &&
      !contains(github.event.issue.labels.*.name, 'question') &&
      !contains(github.event.issue.labels.*.name, 'wontfix') &&
      !contains(github.event.issue.labels.*.name, 'env')

    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

