on:
  # The issues event below is only needed for the default (auto) mode,
  # you can remove it otherwise
  issues:
    types: [ opened, assigned ]
  # The issue_comment event below is only needed for the ChatOps mode,
  # you can remove it otherwise
  issue_comment:
    types: [ created ]
  pull_request:
    types: [ closed ]

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    if: |
      !contains(github.event.issue.labels.*.name, 'docs') &&
      !contains(github.event.issue.labels.*.name, 'release') &&
      !contains(github.event.issue.labels.*.name, 'sub_issue') &&
      !contains(github.event.issue.labels.*.name, 'duplicate') &&
      !contains(github.event.issue.labels.*.name, 'invalid') &&
      !contains(github.event.issue.labels.*.name, 'question') &&
      !contains(github.event.issue.labels.*.name, 'wontfix') &&
      !contains(github.event.issue.labels.*.name, 'env')

    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # CONFIG_BRANCH_NAME: "chistock-#${{ github.event.issue.number }}"
          # CONFIG_BRANCHES: |
          #   bug=bugfix/
          #   issue=issuefix/
          #   feature=feature/
          #   refactor=refactor/
          #   test=test/
          # CONFIG_AUTO_CLOSE_ISSUE: "true"
          # CONFIG_OPEN_DRAFT_PR: "true"
          # CONFIG_COPY_ISSUE_LABELS_TO_PR: "true"
          # CONFIG_COPY_ISSUE_ASSIGNEE_TO_PR: "true"
          # CONFIG_COPY_ISSUE_BODY_TO_PR: "true"
          # CONFIG_DRAFT_PR_TITLE: "chistock-#${{ github.event.issue.number }}: ${{ github.event.issue.title }}"
